*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
/Proyecto/ControlTripulacion/build/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Proyecto/ControlTripulacion/build/
/Proyecto/ControlTripulacion/dist/
/Proyecto/ControlTripulacion/nbproject/
Proyecto/ControlTripulacion/nbbuild.xml
/Proyecto/ControlTripulacion/src/Bridge/Vuelo.java
/Proyecto/ControlTripulacion/src/Bridge/Aeropuerto.java
Proyecto/ControlTripulacion/src/interfaces/UIcontrol.form
Proyecto/ControlTripulacion/src/interfaces/UIcontrol.java
Proyecto/ControlTripulacion/src/simulador/Simulador.java
Proyecto/ControlTripulacion/src/interfaces/UIcontrol.java
Proyecto/ControlTripulacion/src/almacen/Almacen.java